---
import { getLangFromUrl, useTranslations } from '../utils/i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';
import avatar from '../assets/img/avatar.jpg'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const baseUrl = getRelativeLocaleUrl(lang, "/");
---
<section class="mt-20 flex items-center justify-center py-20" id="hero">
  <div class="flex flex-col items-center justify-center text-center">
    <figure class="mb-3">
      <img
      class="rounded-full w-32 h-32 md:w-40 md:h-40 object-cover object-top"
      alt="Leonardo Contreras"
      title="Leonardo Contreras's Avatar"
      src={avatar.src}
      />
    </figure>
    <h1 class="text-5xl font-bold mb-6 mx-2">
      {t('hero.greeting')} <span class="text-blue-600 dark:text-blue-400">
        {t('hero.name')}
      </span>
    </h1>
    <span class="text-xl text-balance text-gray-600 dark:text-gray-400 mb-8 max-w-2xl md:mx-auto mx-2">
      <span class="text-3xl text-blue-600 font-semibold">{t('hero.description-1')}</span>
      {t('hero.description-2')}
    </span>
    <div class="flex flex-col sm:flex-row gap-4 justify-center">
      <a
        href=`${baseUrl.replace(/\/$/, "")}/#projects`
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-lg transition-colors"
      >
        {t('hero.viewProjects')}
      </a>
      <a
        href=`${baseUrl.replace(/\/$/, "")}/#contact`
        class="bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 px-6 py-3 rounded-lg transition-colors"
      >
        {t('hero.contact')}
      </a>

      <a
        title="Leonardo Contreras Resume"
        href={lang === 'en' ? '/Resume-Leonardo-Contreras-en.pdf' : '/Resume-Leonardo-Contreras-es.pdf' }
        download="Leonardo-Contreras-Resume.pdf"
        class="bg-gray-200 dark:bg-gray-800 hover:bg-gray-300 dark:hover:bg-gray-700 px-6 py-3 rounded-lg transition-colors"
      >
        {t('hero.cv')}
      </a>
    </div>
  </div>
</section>