---
import { projects } from '../../data/projects';
import Navbar from '../../components/Navbar.astro';
import { getLangFromUrl, useTranslations } from '../../utils/i18n';
import Layout from '../../layouts/Layout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import ProjectCard from '../../components/ProjectCard.astro';


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const baseUrl = getRelativeLocaleUrl(lang, "/");

---

<Layout title="All Projects">
  <Navbar />
  <main class="max-w-6xl mx-auto px-4 py-20">
    <a
      href={baseUrl}
      class="inline-block mb-8 text-blue-600 dark:text-blue-400 hover:underline"
    >
      {t('projects.backHome')}
    </a>
    
    <h1 class="text-4xl font-bold mb-12">{t('projects.allProjects')}</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projects.map(project => (
        <ProjectCard project={project} />
      ))}
    </div>
  </main>
</Layout>