---
import Hero from '../../components/Hero.astro';
import Experience from '../../components/Experience.astro';
import Navbar from '../../components/Navbar.astro';
import Layout from '../../layouts/layout.astro';
import Projects from '../../components/projects.astro';
import Contact from '../../components/contact.astro';
---

<Layout title="Leonardo - Developer Portfolio">
  <Navbar />
  <main>
    <Hero />
    <Experience />
    <Projects />
    <Contact />
  </main>
</Layout>